.artboard   
  .button
    a(href='#modal') Open Modal
  
.overlay#modal
  .card
    h1 Info
    P  Hello, it's a me! 
    br
    p Akshay!

    .button #[a(href="https://www.instagram.com/akshaycodes/" target="_blank") Follow]
    a.close(href='#') X
  



















footer
  .content
    .top
      a(target="_blank",href="https://www.instagram.com/akshaycodes/?hl=en") #[i.fab.fa-instagram]
      a(target="_blank",href="https://twitter.com/akshaycodes/") #[i.fab.fa-twitter]
      a(target="_blank",href="http://akshaycodes.com/youtube") #[i.fab.fa-youtube]
      a(target="_blank",href="https://codepen.io/akshaycodes/") #[i.fab.fa-codepen]
    .bottom
      a made with #[i.fas.fa-heart.beat] by #[a(target="_blank",href="https://codepen.io/akshaycodes/") Akshaycodes]